@import "Normalizw";

/*
body {
  margin: 0;
  overflow: hidden;
  animation: enableScroll 0s ease 3s forwards;
}


#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 3s ease-in-out forwards;
}


.loader {
  position: relative;
  width: 100px;
  height: 150px;
}

.crane {
  position: relative;
  width: 100px;
  height: 150px;
}

.crane-arm {
  position: absolute;
  width: 100px;
  height: 10px;
  background-color: #ffcc00;
  top: 20px;
  left: 0;
  animation: moveArm 3s ease-in-out forwards;
}

.crane-cable {
  position: absolute;
  width: 2px;
  height: 100px;
  background-color: #333;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: cableDrop 3s ease-in-out forwards;
}

.crane-block {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #666;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  animation: blockLift 3s ease-in-out forwards;
}


@keyframes moveArm {
  0% {
    left: 0;
  }
  50% {
    left: 20px;
  }
  100% {
    left: 0;
  }
}

@keyframes cableDrop {
  0% {
    height: 20px;
  }
  100% {
    height: 100px;
  }
}

@keyframes blockLift {
  0% {
    top: 120px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 50px;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes enableScroll {
  to {
    overflow: visible;
  }
}


#main-content {
  display: block;
  opacity: 0;
  animation: contentFadeIn 0.5s ease 3s forwards;
}


@keyframes contentFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

 */

@font-face {
  font-family: 'Inter18pt-Bold';
  src: url('../assets/fonts/Inter18pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter18pt-BoldItalic';
  src: url('../assets/fonts/Inter18pt-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter18pt-Regular';
  src: url('../assets/fonts/Inter18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish-Regular';
  src: url('../assets/fonts/Mulish-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin parameters($FW,$FS,$LH,$LS) {
  font-weight: $FW;
  font-size: $FS;
  line-height: $LH;
  letter-spacing: $LS;
}

@mixin AlignmentOfBlock($Marg,$MW,$Disp,$JC) {
  margin: $Marg;
  max-width: $MW;
  display: $Disp;
  justify-content: $JC;
}

$title-color: #1c2752;
$text-color: #7e7e7e;
$light-color: #222;
$active-color: #fff;
body {
  background: #F2F2F2;
}

.header-top {
  @include AlignmentOfBlock(auto, 1440px, flex, space-around);
  background: #F2F2F2;
  padding: 20px 0 20px 0;

  .header-top__menu-list {
    display: flex;
    gap: 20px;
  }
}

.header-top__opening-hours {
  @include parameters(400, 1.0625rem, 159%, 0.02em);
  font-family: 'Inter18pt-Regular', sans-serif;
  color: $title-color;
}

.header-top__menu-item {
  list-style: none;

  .icon-facebook {
    width: 19px;
    height: 18px;
  }

  .icon-instagram {
    width: 18px;
    height: 19px;
  }

  .icon-linkin {
    width: 19px;
    height: 19px
  }

  .icon-twitter {
    width: 20px;
    height: 17px;
  }
}

header {
  @include AlignmentOfBlock(auto, 1440px, block, auto);
  background: white;
  max-height: 158px;
}

.header {
  @include AlignmentOfBlock(auto, 1200px, flex, space-around);
  background: white;
  padding: 0 0 30px 0;
}

.header__link-logo {
  img {
    margin-top: 40px;
  }
}

.header__contact-menu {
  @include AlignmentOfBlock(0, 622px, flex, space-between);
  gap: 85px;
  margin-top: 30px;

  .header__paragraph {
    @include parameters(400, 1.25rem, 130%, 0.02em);
    margin: 10px 0 0 15px;
    color: $title-color;
    font-family: "Mulish-Regular", sans-serif;

    span {
      @include parameters(400, 1.0625rem, 159%, 0.02em);
      color: $title-color;
      font-family: "Mulish-Regular", sans-serif
    }
  }
}

.header__mail {
  display: flex;
}

.header__call {
  display: flex;
}

.header-menu {
  @include AlignmentOfBlock(auto, 1200px, flex, space-between);
  padding: 15px 0 15px 0;
  align-items: center;
  position: relative;
  z-index: 2;

  &--color {
    background: #ffb342;
  }

  .menu-list {
    @include AlignmentOfBlock(0, 644px, flex, center);
    gap: 50px;
    margin-left: 50px;

    .menu-item {
      list-style: none;
    }
  }
}

.menu-link {
  @include parameters(400, 1.25rem, 130%, 0.02em);
  text-decoration: none;
  font-family: "Inter18pt-Regular", sans-serif;

  &--color {
    color: $light-color;
  }

  &:hover {
    color: $active-color;
  }
}

.menu-cta {
  padding: 19px 42px;
  text-decoration: none;
  text-align: center;
  margin-right: 10px;

  &--color {
    background: $title-color;
    color: #ffffff;
  }

  &--hover:hover {
    background: #ffffff;
    color: $title-color;
  }
}

.container-banner {
  min-height: 813px;
  background-image: url('../assets/img/Main_Banner.webp');
  @include AlignmentOfBlock(auto, 1440px, flex, stretch);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;

  .container-banner-block {
    max-width: 720px;
    margin-left: 120px;
  }
}

.container-banner-title {
  @include parameters(400, 1.125rem, 190%, 0.02em);
  font-family: "Inter18pt-Regular", sans-serif;
  text-transform: capitalize;
  margin: 0 0 31px 0;
  max-width: 662px;

  &--color {
    color: $active-color;
    background: rgba(255, 255, 255, 0.2);
  }

  &:before {
    content: "";
    width: 30px;
    height: 29px;
    background-image: url("../assets/svg/Rotor.svg");
    display: inline-block;
    margin: 0 10px 0 20px;
    position: relative;
    top: 6px;
  }
}

.container-banner-titles {
  @include parameters(400, 3.75rem, 130%, 0.02em);
  font-family: "Inter18pt-Regular", sans-serif;
  margin-bottom: 49px;

  &--color {
    color: $active-color;
  }
}

.container-banner-link {
  padding: 19px 42px;
  @include parameters(400, 1.25rem, 150%, 0.02em);
  font-family: "Inter18pt-Regular", sans-serif;
  text-decoration: none;

  &--color {
    background: #ffb342;
    color: $title-color;
  }
}

.section-next {
  padding: 140px 0 140px 0;

  .container-next {
    @include AlignmentOfBlock(auto, 1200px, flex, stretch);
    gap: 50px;
  }
}

.container-next-block {
  max-width: 575px;

  .container-next-title {
    @include parameters(400, 1.125rem, 150%, 0.02em);
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 22px;
    font-family: "Inter18pt-Regular", sans-serif;

    &--color {
      color: $title-color;
      background: #f4f4f4
    }

    &:before {
      content: "";
      width: 23px;
      height: 27px;
      display: inline-block;
      background-image: url("../assets/svg/Welcome.svg");
      margin: 0 10px 0 20px;
      position: relative;
      top: 6px;
    }
  }

  .container-next-titles {
    @include parameters(400, 2.81rem, 130%, 0.01em);
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 12px;
    font-family: "Inter18pt-Regular", sans-serif;

    &--color {
      color: $title-color;
      background: #f4f4f4
    }
  }

  .container-next-text {
    @include parameters(400, 1.125rem, 150%, 0.02em);
    margin-bottom: 15px;

    &--color {
      color: $text-color;
    }
  }
}

.container-next-down {
  @include AlignmentOfBlock(0, 575px, flex, stretch);
  gap: 40px;
  margin-top: 28px;

  .container-next-list {
    margin-top: 28px;

    .container-next-item {
      list-style: none;
      @include parameters(400, 1.0625rem, 159%, 0.02em);

      &--color {
        color: $text-color;
      }
    }
  }
}

.Container__services {
  @include AlignmentOfBlock(auto, 1440px, flex, stretch);
  flex-direction: column;
  align-items: center;
  background: #ffb342;

  .Container__services-block {
    max-width: 840px;
    margin: 150px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;


    p:first-of-type {
      @include parameters(400, 18px, 150%, 0.02em);
      text-transform: capitalize;
      margin: 10px 0 22px 0;
      max-width: 206px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px 0 29px;

      &::before {
        margin: 0 10px 0 0;
        content: "";
        width: 23px;
        height: 29px;
        background-image: url("../assets/svg/offer.svg");
        display: inline-block;
      }
    }

    p:last-of-type {
      @include parameters(400, 18px, 150%, 0.02em);
      text-transform: capitalize;
      text-align: center;
      margin: 10px 0 22px 0;
    }

    h2 {
      @include parameters(400, 45px, 130%, 0.01em);
      text-align: center;
    }
  }
}


.ui-tabs.ui-widget-content {
  padding: 0;
  border: 0;

  .ui-tabs-panel {
    display: flex;
    padding-right: 60px;
    padding-top: 0;
    transition: transform 0.3s ease, flex 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .ui-tabs-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #ffb342;
    padding: 0 0 40px 0;
    overflow: hidden;

  }

  .ui-widget-header {
    border: 0;
  }

  .ui-corner-top {
    border: 1px solid #1c2752;
    float: none;
    font-size: 0;

    background: #ffb342;

    .ui-tabs-anchor {
      display: flex;
      justify-content: center;
      padding: 19px 46px;
      float: none;
      @include parameters(400, 20px, 150%, 0.02em);

      &::before {
        content: "";
        width: 36px;
        height: 36px;
        background-image: url("../assets/svg/сommercial.svg");
        display: inline-block;
        margin: -5px 10px 0 0;
      }
    }
  }

  .ui-state-focus {
    border: 1px solid #fff;
    background: #fff;
  }
}

.ui-widget-content {
  background: none;
}

.Container__services-slide {
  max-width: 1160px;
  background: white !important;
  position: relative;
  top: 80px;

  .Container__services-picture {
    max-width: 416px;

    .Container__services-image-last {
      width: 100%;
      margin: 50px 0 0 0;
      height: 355px;
    }

    .Container__services-image {
      width: 100%;
      margin: 50px 0 0 0;
      height: 366px;
    }

    .Container__services-image-next {
      width: 100%;
      margin: 50px 0 0 0;
      height: 366px;

    }
  }

  .Container__services-textual {
    max-width: 624px;
    padding: 0;
    margin: 50px 20px 60px 20px;
    display: inline-block;


    .Container__services-title {
      @include parameters(400, 17px, 159%, 0.02em);
      text-transform: capitalize;
      display: inline-block;
      background: #f4f4f4;
      padding: 0 28px 0 20px;
      margin-bottom: 22px;

      &::before {
        content: "";
        width: 28px;
        height: 28px;
        background-image: url("../assets/svg/ElectricalInstalation.svg");
        display: inline-block;
        position: relative;
        margin: 0 10px 0 0;
        top: 5px;
      }
    }

    h2 {
      @include parameters(400, 45px, 130%, 0.01em);
      margin-bottom: 12px;
    }

    p:nth-of-type(2) {
      @include parameters(400, 18px, 150%, 0.02em);
      margin-bottom: 10px;
      max-width: 504px;
    }

    p:nth-of-type(3) {
      @include parameters(400, 18px, 150%, 0.02em);
      margin-bottom: 30px;
      max-width: 504px;
    }

    a {
      @include parameters(400, 20px, 150%, 0.02em);
      padding: 19px 42px;
      background: #ffb342;
      text-decoration: none;

      &:hover {
        background: white;
      }
    }
  }
}

.container__options {
  padding-top: 240px;
  padding-bottom: 140px;
  @include AlignmentOfBlock(auto, 1440px, block, stretch);

  .container__options-title {
    @include AlignmentOfBlock(auto, 840px, block, stretch);
    text-align: center;

    .container__title {
      @include parameters(400, 1.125rem, 150%, 0.02em);
      text-transform: capitalize;
      font-family: "Inter18pt-Regular", sans-serif;
      margin: 0 0 22px 0;
      display: inline-block;
      background: #fff;
      padding: 0 10px 0 0;

      &::before {
        content: "";
        width: 22px;
        height: 27px;
        display: inline-block;
        position: relative;
        top: 6px;
        margin: 0 10px 0 10px;
        background-image: url("../assets/svg/area.svg");
      }

      &.color {
        color: $title-color;
      }
    }

    .container__titles {
      @include parameters(400, 2.81rem, 130%, 0.01em);
      font-family: "Inter18pt-Regular", sans-serif;
      margin-bottom: 12px;

      &.color {
        color: $title-color;
      }
    }

    .container__text {
      @include parameters(400, 1.125rem, 150%, 0.02em);
      font-family: "Inter18pt-Regular", sans-serif;
      margin-bottom: 47px;

      &.color {
        color: #7e7e7e;
      }
    }
  }
}

.container__options-block {
  @include AlignmentOfBlock(auto, 1200px, flex, space-between);
  flex-wrap: wrap;
  gap: 30px;

  .container__options-variant {
    width: calc(33% - 25px);
    background: $title-color;
    padding: 50px 0 0 0;

  }
}

.container__options-inside {
  margin: 0 0 50px 35px;
  vertical-align: top;

  img {
    margin: 0 0 16px 0;
  }

  .container__variant-title {
    @include parameters(400, 1.5625rem, 150%, 0.01em);
    text-transform: capitalize;
    margin-bottom: 12px;

    &.color {
      color: #ffb342;
    }
  }

  .container__variant-text {
    @include parameters(400, 1.125rem, 150%, 0.02em);
    margin-bottom: 22px;

    &.color {
      color: #d2d2d2;
    }
  }

  .container__variant-item {
    @include parameters(400, 1.125rem, 150%, 0.02em);
    text-decoration: none;

    &.color {
      color: #ffffff;
    }
  }
}

.container__choose {
  @include AlignmentOfBlock(auto, 1440px, flex, stretch);

  .container__choose-image {
    max-width: 720px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    .container__choose-list {
      max-width: 560px;
      position: absolute;
      top: 12%;
      left: 13%;
      transition: transform 0.3s ease, flex 0.3s ease;
      padding: 100px 80px 124px 80px;

      &:hover {
        transform: scale(1.1);
      }

      &--style {
        background: rgba(28, 39, 82, 0.86);
      }
    }
  }
}

.container__choose-item {
  @include parameters(400, 1.5625rem, 140%, 0.02em);
  padding: 0 50px 0 0;
  margin: 0 0 25px 0;
  list-style: none;
  font-family: "Mulish-Regular", sans-serif;
  border: 1px solid white;

  &.color {
    color: #fff;
  }

  span {
    font-family: "Mulish-Regular", sans-serif;
    margin: 0 15px 0 0;
    display: inline-block;
    padding: 16px 28px 16px 21px;
    background: #ffb342;
    @include parameters(400, 1.5rem, 146%, 0.02em);

    &.color {
      color: #1c2752;
    }
  }
}

.container__choose-desc {
  max-width: 720px;
  background: white;

  .container__choose-up {
    max-width: 590px;
    margin: 40px 0 80px 50px;

    .container__choose-title {
      margin: 10px 0 23px 0;
      @include parameters(400, 1.125rem, 150%, 0.02em);
      text-transform: capitalize;
      background: #f4f4f4;
      display: inline-block;
      padding: 0 20px;

      &.color {
        color: #7e7e7e;
      }

      &::before {
        position: relative;
        top: 5px;
        margin-right: 10px;
        content: "";
        display: inline-block;
        width: 22px;
        height: 27px;
        background-image: url("../assets/svg/Why_Choose_Us.svg");
      }
    }

    .container__choose-up-paragraph {
      @include parameters(400, 1.0625rem, 159%, 0.02em);

      &.color {
        color: #7e7e7e;
      }
    }

    .container__choose-titles {
      margin: 0 0 11px 0;
      @include parameters(400, 2.81rem, 130%, 0.01em);

      &.color {
        color: $title-color;
      }
    }

    p:last-of-type {
      @include parameters(400, 1.0625rem, 159%, 0.02em);
    }
  }
}

.container__choose-down {
  max-width: 502px;
  margin: 0 0 0 50px;

  .container__choose-element {
    @include parameters(400, 1.25rem, 140%, 0.02em);
    display: flex;

    &.color {
      color: #1C2752;
    }

    &::before {
      margin-right: 20px;
      content: "";
      width: 32px;
      height: 32px;
      display: inline-block;
      background-image: url("../assets/svg/Right.svg");
    }
  }

  .container__choose-paragraph {
    @include parameters(400, 1.0625rem, 159%, 0.02em);
    display: inline-block;
    margin-left: 52px;

    &.color {
      color: #7e7e7e;
    }
  }

  .container__choose-paragraph:first-of-type {
    margin-bottom: 32px;
  }

  .container__choose-paragraph:nth-of-type(2) {
    margin-bottom: 32px;
  }

}

.container__projects {
  @include AlignmentOfBlock(auto, 1440px, block, stretch);
  background: $title-color;
  padding: 140px 0 140px 0;
}

.container__projects__menu-title {
  @include AlignmentOfBlock(auto, 1200px, block, stretch);
  text-align: center;

  .menu-title__text {
    @include parameters(400, 1.125rem, 150%, 0.02em);
    text-transform: capitalize;
    display: inline-block;
    padding: 0 20px 0 20px;
    margin: 0 0 20px 0;
    font-family: "Inter18pt-Regular", sans-serif;

    &::before {
      content: "";
      width: 22px;
      height: 27px;
      display: inline-block;
      background-image: url("../assets/svg/Why_Choose_Us.svg");
      position: relative;
      top: 6px;
      margin-right: 10px;
    }

    &.color {
      color: $title-color;
      background: #f4f4f4;
    }
  }

  .menu-title__heading {
    @include parameters(400, 2.81rem, 130%, 0.01em);
    text-transform: capitalize;
    margin: 0 0 50px 0;
    font-family: "Mulish-Regular", sans-serif;

    &.color {
      color: #fff;
    }
  }
}

.container__projects__menu {
  @include AlignmentOfBlock(auto, 1400px, flex, space-evenly);
  gap: 30px;

  .menu__item {
    padding: 21px 21px 24px 21px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &--color {
      background: #fff;
      border: 1px solid #d2d2d2;
    }

    img {
      margin: 0 0 27px 0;
    }

    .menu__title {
      @include parameters(400, 1.5rem, 150%, 0.01em);
      text-transform: capitalize;
      font-family: "Mulish-Regular", sans-serif;
      text-align: center;
    }

    .menu__caption {
      @include parameters(400, 1.0625rem, 159%, 0.02em);
      text-align: center;

      &--color {
        color: #7e7e7e;
      }
    }
  }
}


.SectionSeven {
  padding: 140px 0 0 0;
}

.container__testimonial {
  @include AlignmentOfBlock(auto, 1200px, flex, stretch);


  .container__testimonial-block {
    max-width: 591px;
  }

  .SectionSeven-MainContainer-Menu1 {
    max-width: 561px;
  }
}


.container__testimonial {

  .container__testimonial-text {

    @include parameters(400, 18px, 150%, 0.02em);
    color: #1c2752;
    text-transform: capitalize;
    margin: 0 0 22px 0;
    display: inline-block;
    background: #f4f4f4;
    padding: 0 20px;

    &::before {
      position: relative;
      top: 5px;
      content: "";
      width: 22px;
      height: 27px;
      display: inline-block;
      background-image: url("../assets/svg/Why_Choose_Us.svg");
      margin: 0 10px 0 0;
    }
  }

  .container__testimonial-title {
    @include parameters(400, 45px, 130%, 0.01em);
    color: #1c2752;
    text-transform: capitalize;
    margin: 0 0 41px 0;
  }
}

.container__testimonial-inside {
  padding: 41px 60px 36px 41px;
  border: 1px solid #e4e4e4;
  margin: 0 0 40px 0;
  transition: transform 0.3s ease, flex 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  .carousel-block {
    border-bottom: 1px solid #e4e4e4;
    margin: 0 0 20px 0;

    img {
      width: 55px;
      height: 55px;
    }
  }

  .carousel-block-container {
    padding: 0 0 21px 0;
  }

  .container-text {
    @include parameters(400, 22px, 110%, 0.02em);
    color: #1c2752;
    display: inline-block;

    span {
      @include parameters(400, 18px, 120%, 0.02em);
      color: #7e7e7e;
    }
  }


  .carousel-block {
    @include AlignmentOfBlock(0, 509px, flex, space-between);

    img {
      margin: 0 25px 0 0;
    }

    .container__testimonial-inside-client {
      display: flex;

      p {
        margin: 5px 0 0 10px;
      }
    }
  }

  .carousel-quote {
    blockquote {
      @include parameters(700, 18px, 150%, 0.02em);
      color: #7e7e7e;
      font-style: italic;
      margin: 0 0 23px 0;

      span {
        color: #1c2752;
      }
    }
  }

  a {
    svg {
      width: 50px;
      height: 50px;
    }

    path:hover {
      fill: #ffb342;
    }
  }
}


.container__testimonial-contact {
  max-width: 591px;
  background: #ffb342;
  padding: 60px 0 50px 0;
  transition: transform 0.3s ease, flex 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  .container__testimonial-contact-block {
    max-width: 511px;
    padding: 10px 0 0 0;
    margin: 0 0 0 40px;

    .contact-text {
      @include parameters(400, 18px, 180%, 0.02em);
      color: #1c2752;
      text-transform: capitalize;
      display: inline-block;
      background: #f4f4f4;
      padding: 0 20px;
      margin: 0 0 20px 0;

      &::before {
        position: relative;
        top: 4px;
        content: "";
        width: 22px;
        height: 27px;
        display: inline-block;
        margin: 0 10px 0 0;
        background-image: url("../assets/svg/Why_Choose_Us.svg");
      }
    }

    .contact-title {
      @include parameters(400, 25px, 130%, 0.01em);
      color: #1c2752;
      margin: 0 0 13px 0;
    }

    .contact-text2 {
      @include parameters(400, 18px, 150%, 0.02em);
      color: #1c2752;
    }
  }
}


.container__testimonial-contact-phone2 {
  .container__testimonial-contact-phone {
    max-width: 511px;

    .container__testimonial-contact-number {
      @include parameters(400, 30px, 150%, 0.01em);
      color: #fff;
      margin: 0 0 0 40px;

      &::before {
        position: relative;
        top: 15px;
        margin: 0 20px 0 0;
        content: "";
        width: 50px;
        height: 50px;
        display: inline-block;
        background-image: url("../assets/svg/Phone.svg");
      }
    }

  }
}


.container__testimonial-form {
  max-width: 563px;
  margin: 0 0 0 45px;

  .form-text {
    @include parameters(400, 18px, 150%, 0.02em);
    color: #1c2752;
    text-transform: capitalize;
    display: inline-block;
    background: #f4f4f4;
    margin: 0 0 22px 0;

    padding: 0 20px;

    &::before {
      margin: 0 10px 0 0;
      position: relative;
      top: 5px;
      content: "";
      width: 22px;
      height: 27px;
      display: inline-block;
      background-image: url("../assets/svg/Why_Choose_Us.svg");
    }
  }

  .form-title {
    @include parameters(400, 45px, 130%, 0.01em);
    color: #1c2752;
    margin: 0 0 39px 0;
    max-width: 425px;
  }
}

.container__testimonial-menu {
  max-width: 564px;
  padding: 70px 40px 75px 40px;
  background: #f4f4f4;

  .menu-input1 {
    margin: 0 0 25px 0;
    max-width: 484px;

    .input1 {
      width: 100%;
      height: 65px;
      background: white;
      padding-left: 40px;
      @include parameters(400, 17px, 159%, 0.02em);
      color: #1c2752;

      &::placeholder {
        @include parameters(400, 17px, 159%, 0.02em);
        color: #1c2752;

      }

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }

  }

  .menu-input2 {
    margin: 0 0 25px 0;
    max-width: 484px;

    .input2 {
      width: 100%;
      height: 65px;
      background: white;
      padding-left: 40px;

      &::placeholder {
        @include parameters(400, 17px, 159%, 0.02em);
        color: #1c2752;

      }

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }

  }

  .menu-input3 {
    margin: 0 0 25px 0;
    max-width: 484px;

    .input3 {
      width: 100%;
      height: 65px;
      background: white;
      padding-left: 40px;
      @include parameters(400, 17px, 159%, 0.02em);
      color: #1c2752;

      &::placeholder {
        @include parameters(400, 17px, 159%, 0.02em);
        color: #1c2752;
      }

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }

  }

  .menu-input4 {
    margin: 0 0 25px 0;
    max-width: 484px;

    .input4 {
      width: 100%;
      height: 65px;
      background: white;
      padding-left: 40px;
      @include parameters(400, 17px, 159%, 0.02em);
      color: #1c2752;

      &::placeholder {
        @include parameters(400, 17px, 159%, 0.02em);
        color: #1c2752;
      }

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }

  }
}

.TextArea {
  max-width: 484px;

  .ServiceDescription {
    width: 100%;
    height: 150px;
    resize: none;
    overflow: auto;
    margin: 0 0 35px 0;
    @include parameters(400, 17px, 159%, 0.02em);
    color: #1c2752;
  }
}

.SubmitButton {
  width: 484px;
  height: 68px;
  background: #ffb342;
  @include parameters(700, 17px, 159%, 0.02em);
  color: #1c2752;

  &:hover {
    color: white;
  }
}

.price-plan {
  @include AlignmentOfBlock(auto, 1200px, block, stretch);

  .price-plan__header {
    display: flex;
    justify-content: space-between;
  }
}

.price-plan__header-left {
  text-align: left;

  .price-plan__title {
    @include parameters(400, 1.0625rem, 159%, 0.02em);
    text-transform: capitalize;
    display: inline-block;
    padding: 0 20px 0 20px;
    margin: 0 0 23px 0;
    font-family: "Inter18pt-Regular", sans-serif;

    &.title--color {
      color: $title-color;
      background: #fff;
    }

    &::before {
      content: "";
      width: 22px;
      height: 27px;
      display: inline-block;
      position: relative;
      top: 7px;
      margin: 0 10px 0 0;
      background-image: url("../assets/svg/Why_Choose_Us.svg");
    }
  }

  .price-plan__subtitle {
    @include parameters(400, 2.81rem, 130%, 0.01em);
    font-family: "Inter18pt-Regular", sans-serif;
    margin: 0 0 58px 0;

    &.subtitle--color {
      color: $title-color;
    }
  }
}

.price-plan__description {
  @include parameters(400, 1.125rem, 150%, 0.02em);
  font-family: "Inter18pt-Regular", sans-serif;
  max-width: 585px;
  margin: 41px 0 0 0;

  &.desc--color {
    color: #7e7e7e;
  }
}

.price-plan__content {
  @include AlignmentOfBlock(0, 1200px, flex, space-between);
  gap: 30px;

}

.price-plan__item-header {
  border-bottom: 1px solid #d7d7d7;
  max-width: 300px;
  margin: 0 0 0 35px;
}

.price-plan__item {
  width: calc(33% - 5px);
  background: #fff;
  padding: 40px 0 50px 0;

  .price-plan__item-title {
    @include parameters(400, 1.25rem, 150%, 0.02em);
    font-family: "Inter18pt-Regular", sans-serif;
    margin: 0 0 7px 0;

    &--color {
      color: $title-color;
    }
  }

  .price-plan__item-price {
    @include parameters(400, 2rem, 110%, 0.01em);
    font-family: "Inter18pt-Regular", sans-serif;
    display: inline-block;
    margin: 0 0 36px 0;

    &--color {
      color: $title-color;
    }
  }

  .price-plan__item-type {
    @include parameters(400, 0.93rem, 160%, 0.02em);
    font-family: "Inter18pt-Regular", sans-serif;
    margin: 0 0 0 33px;

    &--color {
      color: #7e7e7e;
    }
  }
}

.price-plan__features {
  margin: 26px 0 0 30px;

  .price-plan__feature {
    @include parameters(400, 1.0625rem, 159%, 0.02em);
    text-transform: capitalize;
    list-style: none;
    margin: 0 0 20px 0;
    font-family: "Inter18pt-Regular", sans-serif;

    &.price--color {
      color: #7e7e7e;
    }

    &::before {
      content: "";
      width: 19px;
      height: 19px;
      display: inline-block;
      margin: 0 12px 0 0;
      background-image: url("../assets/svg/true.svg");
    }
  }

  .price-plan__feature--last {
    margin: 0 0 60px 0;
  }
}

.price-plan__link {
  padding: 16px 106px;
  margin: 0 0 0 40px;
  background: #ffb342;
  border: 2px solid #ffb342;
  text-decoration: none;
  @include parameters(400, 1.25rem, 150%, 0.02em);
  color: #1c2752;
}

.price-plan__additional {
  display: flex;
  justify-content: space-between;
  margin: 61px 0 0 0;

  .info {
    max-width: 585px;

    .additional {
      @include parameters(400, 1.25rem, 140%, 0.02em);
      font-family: "Mulish-Regular", sans-serif;


      &--color {
        color: $title-color;
      }

      &::before {
        content: "";
        width: 32px;
        height: 32px;
        display: inline-block;
        margin: 0 12px 0 0;
        position: relative;
        top:9px;
        background-image: url("../assets/svg/true_icon.svg");
      }
    }

    .additional-paragraph {
      @include parameters(400, 1.0625rem, 159%, 0.02em);
      font-family: "Inter18pt-Regular", sans-serif;
      max-width: 527px;
      margin: 9px 0 0 38px;


      &--color {
        color: #7e7e7e;
      }
    }
  }
}